<div class="row">
  <div class="col-xs-12">
    <form>

      <div class="row">

        <!-- Name -->
        <div class="col-sm-6 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Name..."
            [value]="item?.name"
            #nameInput
          >
        </div>

        <!-- Amount -->
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            placeholder="Amount..."
            [value]="item?.amount"
            #amountInput
          >
        </div>

        <!-- Unit -->
        <div class="col-sm-3 form-group">
          <label for="amount">Unit</label>
          <input
            type="text"
            id="unit"
            class="form-control"
            placeholder="Unit..."
            [value]="item?.unit"
            #unitInput
          >
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">

          <!-- Submit -->
          <button
            type="submit"
            class="btn"
            [ngClass]="{
              'btn-success': !item,
              'btn-info': item
            }"
            (click)="onSubmit()"
          >
            {{ item ? 'Update' : 'Create' }}
          </button>
          &nbsp;

          <!-- Deselect -->
          <button
            type="button"
            class="btn btn-default"
            (click)="onDeselect()"
          >
            Deselect
          </button>
          &nbsp;

          <!-- Delete -->
          <button
            type="button"
            class="btn btn-default"
            (click)="onDelete()"
          >
            Delete
          </button>
          &nbsp;

          <!-- Delete all -->
          <button
            class="btn btn-default"
            type="button"
            (click)="onDeleteAll()"
          >
            Delete all
          </button>

        </div>
      </div>

    </form>
  </div>
</div>
