<ng-container *ngIf="item; else default">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="item.imagePath"
        [alt]="item.name"
        class="img-responsive"
        [ngStyle]="{
          'max-height': '250px'
        }"
      >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ item.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              href="#"
              (click)="onMoveToShoppingList(item)"
            >To Shopping List</a>
          </li>
          <li>
            <a
              href="#"
              (click)="onEditRecipe(item)"
            >Edit Recipe</a>
          </li>
          <li>
            <a
              href="#"
              (click)="onDeleteRecipe(item)"
            >Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ item.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          *ngFor="let ingredient of item.ingredients"
          class="list-group-item"
        >
          {{ ingredient.name }}
          ({{ ingredient.amount }})
        </li>
      </ul>
    </div>
  </div>
</ng-container>
<ng-template #default>
  <div class="row">
    <div class="col-xs-12">
      Please select a recipe
    </div>
  </div>
</ng-template>
